@model BusReservation.Models.Horario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Horario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ruta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ruta.Destino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaHoraSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaHoraSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsientosDisponibles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsientosDisponibles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsientosOcupados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsientosOcupados)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.HorarioId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
