@model IEnumerable<BusReservation.Models.Boleto>
<link rel="stylesheet" href="~/css/andres.css" asp-append-version="true" />
@{
ViewData["Title"] = "Boletos";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h1>BOLETOS</h1>
</div>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayName("Reserva Id")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Detalles)
        </th>
        <th>
            @Html.DisplayName("QR")
        </th>
        <th>
            @Html.DisplayName("Fecha de Emisión")
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Reserva.ReservaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Detalles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoQR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaEmision)
        </td>
    </tr>
    }
    </tbody>
</table>