@model IEnumerable<BusReservation.Models.Boleto>
<link rel="stylesheet" href="~/css/pablo.css" asp-append-version="true" />

<img src="https://images-ext-1.discordapp.net/external/m572SNkUzfWHbE2RvT-fbil0vMK4GObvcZ0F2YQQ-GE/https/www.quito-turismo.gob.ec/wp-content/uploads/2023/05/BANNER-LA-INSTITUCION.jpg?format=webp&width=1440&height=535" class="imagen" />


@{
    ViewData["Title"] = "Index";
}

<h1 class=" text-center text-nowrap mb-sm-0 mt-sm-3 "> Tenemos tus <br>horarios de bus</h1>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Reserva Id")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detalles)
            </th>
            <th>
                @Html.DisplayName("QR")
            </th>
            <th>
                @Html.DisplayName("Fecha de Emision")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Reserva.ReservaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detalles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoQR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEmision)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BoletoId" class="btn btn-secondary btn-sm">Editar</a>
                <a asp-action="Details" asp-route-id="@item.BoletoId" class="btn btn-success btn-sm mx-1">Detalles</a>
                <a asp-action="Delete" asp-route-id="@item.BoletoId" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>

<button type="button" class="btn btn-success custom-font-button" onclick="window.location.href='/Create'">
    <a asp-action="Create" style="display: flex; justify-content: center; margin-top: 20px;">Crear Boletos</a>
</button>
