@model IEnumerable<BusReservation.Models.Reserva>
<link rel="stylesheet" href="~/css/paul.css" asp-append-version="true" />
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Id")
            </th>
            <th>
                @Html.DisplayName("Cliente")
            </th>
            <th>
                @Html.DisplayName("Ruta")
            </th>
            <th>
                @Html.DisplayName("Fecha")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Asiento)
            </th>
            <th>
                @Html.DisplayName("Estado")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetodoPago)
            </th>
            <th>
                @Html.DisplayName("Precio")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ReservaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ruta.Destino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaReserva)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Asiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoReserva)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MetodoPago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.ReservaId">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.ReservaId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.ReservaId">Delete</a>
        </td>
    </tr>
}
    </tbody>
</table>
