@model IEnumerable<BusReservation.Models.Reserva>
<link rel="stylesheet" href="~/css/andres.css" asp-append-version="true" />
@{
ViewData["Title"] = "Reservas";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h1>RESERVAS</h1>
    <a asp-action="Create" class="btn btn-info text-white">Nueva Reserva</a>
</div>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayName("Id")
        </th>
        <th>
            @Html.DisplayName("Cliente")
        </th>
        <th>
            @Html.DisplayName("Ruta")
        </th>
        <th>
            @Html.DisplayName("Fecha")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Asiento)
        </th>
        <th>
            @Html.DisplayName("Estado")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MetodoPago)
        </th>
        <th>
            @Html.DisplayName("Precio")
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ReservaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ruta.Destino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaReserva)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Asiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoReserva)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MetodoPago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio) $
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.ReservaId" class="btn btn-secondary btn-sm">Editar</a>
            <a asp-action="Details" asp-route-id="@item.ReservaId" class="btn btn-success btn-sm mx-1">Detalles</a>
            <a asp-action="Delete" asp-route-id="@item.ReservaId" class="btn btn-danger btn-sm">Eliminar</a>
        </td>
    </tr>
    }
    </tbody>
</table>