@model IEnumerable<BusReservation.Models.Ruta>
<link rel="stylesheet" href="~/css/andres.css" asp-append-version="true" />
@{
    ViewData["Title"] = "Rutas";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h1>RUTAS</h1>
    <a asp-action="Create" class="btn btn-info text-white">Nueva Ruta</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Origen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destino)
            </th>
            <th>
                @Html.DisplayName("Duración")
            </th>
            <th>
                @Html.DisplayName("Salida")
            </th>
            <th>
                @Html.DisplayName("Hora")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Origen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destino)
            </td>
            <td>
                @item.Duracion.ToString(@"hh\:mm") h
            </td>
            <td>
                @item.FechaSalida.ToString("dd/MM/yyyy")
            </td>
            <td>
                @item.Hora.ToString(@"hh\:mm")
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RutaId" class="btn btn-secondary btn-sm">Editar</a>
                <a asp-action="Details" asp-route-id="@item.RutaId" class="btn btn-success btn-sm mx-1">Detalles</a>
                <a asp-action="Delete" asp-route-id="@item.RutaId" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>